body{
    height: 97vh;
    margin: 0;
    background: linear-gradient(180deg, rgb(251,173,128), #ffffff);
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;

}

.Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Nav{
    display: flexbox;
    justify-items: space-between;
}
.Nav a {
    text-decoration: none;
    color: white;
}
.Nav a:active, a:hover{
    text-decoration: underline;
}

.Email {
    appearance: auto;
    
}
.Email input{
    display: inline-block;
    padding: 6px;
    border-radius: 8px;
    box-shadow: rgb(255, 255, 255);
}
.Email input[type="email"]{
    box-sizing: border-box; 
    background-color: white;
    /* -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    border: dimgray */
}

.Email input[type="submit"]{
    background-color: rgb(251,173,128);
    color: #ffffff;
    /* padding: 6px; */
}

/* menu */
.Menu{
    display: grid;
    /* align-content: center;
    justify-content: center; */
    grid-template-columns: 1fr 1fr; 
    background-color: #ffffff;
    grid-row-gap: 40px;
    grid-column-gap: 40px;
 


}
.Menu button{
    border-radius: 12px;
    width: 40vw;
    height: 160px;
    background-color: #ffffff;
    /* box-shadow: black;
    border: black; */

}

/* footer */
footer {
    color: rgb(47, 48, 67);
    background-color: #ffffff;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 40px;
}

footer p{
    font-size: 12px;
    padding-top: 30px;
}
footer ul{
    list-style: none;
    font-size: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 20px;
    padding-right: 25px;
}